{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="referrer" content="no-referrer">

		<link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
		<link rel="stylesheet" href="{{ get_url(path='style.css') }}">

		<title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>

		<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/imgs/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/imgs/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/imgs/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/imgs/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/imgs/icons/favicon-16x16.png">
		<link rel="manifest" href="/imgs/icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/imgs/icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		{% if config.generate_rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
		{% endif %}
	</head>
	<body>
		{% block body %}
			<img class="top-image" src=/imgs/nm.svg />
			<div class="section" id="splash">
				{% if config.extra.sam_menu %}
					{% for link in config.extra.sam_menu %}
						<div class="big-link">
							<a href="{{ link.link }}">
								{{ link.text }}
							</a>
						</div>
					{% endfor %}
				{% else %}
					{% for current in section.subsections %}
						{% set current = get_section(path=current) %}
						<div class="big-link">
							<a href="{{ current.permalink }}">
								{{ macros::title_or_last(component=current) }}
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endblock body %}
	</body>
</html>
